@import url('https://googleapis.com');

.about-back{
    background-image: linear-gradient(#FF8D8D, #FF8D8D), url('../assets/Carfax\ team.png');
    background-blend-mode: multiply;
    background-size: cover;
    background-position: 0 -170px;
    width: 100%;
    min-width: 1200px;
    height: max(100vh, 700px);
    min-height: 700px;
}

.about{
    background-color: #BC0808;
    font-family: 'Oswald', sans-serif;
}