@import url('https://googleapis.com');

.about-back{
    background-color: #FF8D8D;
    width: 100%;
    min-width: 1200px;
    height: max(100vh, 700px);
    min-height: 700px;
}

.about{
    background-color: #BC0808;
    font-family: 'Oswald', sans-serif;
}