@import url('https://googleapis.com');

.projects-back{
    background-image: linear-gradient(#ACCEAA, #ACCEAA), url('../assets/grab\ it\ v.png');
    background-blend-mode: multiply;
    background-size: cover;
    background-position: 0 -1350px;
    width: 100%;
    min-width: 1200px;
    height: max(100vh, 700px);
    min-height: 700px;
}

.projects{
    background-color: #198C15;
    font-family: 'Oswald', sans-serif;
}