*{
    font-family: 'Oswald', sans-serif;
}

.big-text{
    color: white;
    text-shadow: 2px 15px 4px rgba(0, 0, 0, 0.5);
    -webkit-text-stroke: 13px black; 
    paint-order: stroke fill;
    font-size: 90px;

    margin-left: 20px;
    margin-bottom: 15px;
}

.medium-text{
    color: white;
    text-shadow: -2px 12px 4px rgba(0, 0, 0, 0.5);
    -webkit-text-stroke: 10px black; 
    paint-order: stroke fill;
    font-size: 70px;
}

.small-text{
    color: white;
    text-shadow: -2px 12px 4px rgba(0, 0, 0, 0.5);
    -webkit-text-stroke: 10px black; 
    paint-order: stroke fill;
    font-size: 50px;
}

#title h4{
    margin-top: 5px;
    margin-bottom: 5px;
}

#title p{
    font-size: 20px;
    margin-top: 8px;
    margin-bottom: 8px;
}

#second-sentence{
    width: 12vw;
}