@import url('https://googleapis.com');

.about-back{
    background-color: #FF8D8D;
}

.about{
    background-color: #BC0808;
    font-family: 'Oswald', sans-serif;
}

.top-bar{
    width: calc(100vw - 40px);
    height: calc(20vh - 40px);

    border-style: solid;
    border-color: black;
    border-width: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    h5{
        font-size: 80px;
        margin: 0%;
        margin-bottom: 10px;
    }
}

.empty-space-topbar{
    width: 60vw;
}

.empty-space{
    width: 100vw;
    height: 20vh;
}

.content{
    width: calc(100vw - 40px);
    height: calc(60vh - 40px);

    border-style: solid;
    border-color: black;
    border-width: 20px;
}