@import url('https://googleapis.com');

.about-back{
    background-color: #FF8D8D;
    width: 100%;
    min-width: 1200px;
    height: max(100vh, 700px);
    min-height: 700px;
}

.about{
    background-color: #BC0808;
    font-family: 'Oswald', sans-serif;
}

.top-bar{
    box-sizing: border-box;
    width: 100%;
    height: 20%;

    border-style: solid;
    border-color: black;
    border-width: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    h5{
        font-size: 80px;
        margin: 0%;
        margin-bottom: 10px;
    }
}

.empty-space-topbar{
    width: 60%;
}

.empty-space{
    width: 100%;
    height: 20%;
}

.content{
    box-sizing: border-box;
    width: 100%;
    height: 60%;

    border-style: solid;
    border-color: black;
    border-width: 20px;
}