.top-bar{
    box-sizing: border-box;
    width: 100%;
    height: 20%;

    border-style: solid;
    border-color: black;
    border-width: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    h5{
        font-size: 80px;
        margin: 0%;
        margin-bottom: 10px;
    }
}

.empty-space-topbar{
    width: 60%;
}

.empty-space{
    width: 100%;
    height: 20%;
}

.small-text{
    transition: font-size 0.3s ease-in-out;
}

.small-text:hover{
    font-size: 70px;
}

.content{
    box-sizing: border-box;
    width: 100%;
    height: 60%;

    border-style: solid;
    border-color: black;
    border-width: 20px;

    display:flex;
    flex-direction: column;
    align-items: center;
    overflow-y: auto;
    scrollbar-color: black rgba(0,0,0,0);
    scrollbar-width: auto;
}